version: "3.8"
services:
  postgres:
    container_name: postgres
    image: postgres:12
    networks:
      - backend
    env_file:
      - .env
    ports:
      - "5432:5432"
    restart: always
    volumes: 
      - ./pgdata:/var/lib/postgresql/data
      # - ./db:/docker-entrypoint-initdb.d/

  backend:
    image: backend
    ports:
      - "3000:3000"
    depends_on:
      - postgres
      - redis
    env_file:
      - .env
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    build:
      context: ./
      dockerfile: Dockerfile
    restart: always
    command: ["npm", "run","start:dev"]
    networks:
      - backend

  redis:
    image: redis
    ports:
      - "6379:6379"
    env_file:
      - .env
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes: 
  pgdata:
    driver: local
